@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #4A148C;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 600px;
  height: 445px;
  border-radius: 12px;
}

.form .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 50px;
  line-height: 60.51px;
  text-align: center;
  color: #FF6F00;
  position: relative;
  top: -24px;
}

.form .username_input,
.password_input {
  width: 450px;
  height: auto;
  margin-bottom: 12px;
}

.password_input label,
.username_input label {
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
  color: #4A148C;
}

.username_input input,
.password_input input {
  width: 450px;
  height: 50px;
  text-align: center;
  border: 1px solid #4A148C;
  border-radius: 12px;
  color: #4A148C;
  font-style: italic;
  margin-bottom: 12px;
}

.password_input {
  position: relative;
}

.password_input i {
  position: absolute;
  right: 20px;
  top: 50%;
  cursor: pointer;
}

.password_input i:hover {
  opacity: 0.8;
}

.Login_Button {
  width: 200px;
  height: 50px;
  color: #4A148C;
  background-color: #FF6F00;
  border: none;
  border-radius: 12px;
  font-size: 25px;
  font-weight: 800;
  line-height: 30.26px;
  margin-bottom: 10px;
  cursor: pointer;
}

.Login_Button:hover {
  opacity: 0.9;
  transition: all 0.5s;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -20px;
}

.register a {
  margin-left: 4px;
}