@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.LoginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #96CEB4;
  height: 100vh;
  width: 100vw;
}

.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 50%;
  border-radius: 12px;
}

.titlePage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titlePage .title {
  color: #ffad60;
  font-size: 36px;
  font-weight: bold;
}

.input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 8px;
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.input-wrapper .input-mainWrapper {
  width: 100%;
}

.input-wrapper .input-mainWrapper .label {
  font-size: 14px;
  font-weight: bold;
}

.input-wrapper .input-mainWrapper input {
  width: 100%;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #96CEB4;
  text-align: center;
  outline: none;
}

.input-mainWrapper .input-content {
  position: relative;
}

.input-mainWrapper .input-content input::placeholder {
  font-style: italic;
}

.input-mainWrapper .input-content i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: none;
}

.input-mainWrapper .input-content i.active {
  display: block;
  color: #ffad60;
  cursor: pointer;
}

.input-mainWrapper .input-content i:hover {
  opacity: 0.8;
  transition: all 0.5s;
}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn {
  background-color: #ffad60;
  color: #A02334;
  font-size: 24px;
  font-weight: bold;
  border: none;
  padding: 2px 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 12px;
  margin-bottom: 20px;
}

.btn:hover {
  opacity: 0.8;
  transition: all 0.8s;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register .main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register a:hover {
  color: #A02334;
  transition: all 0.5s;
}