@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.page_title {
  width: 100%;
  height: 50px;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  color: white;
}

.content {
  min-height: calc(100vh - 50px);
  background-color: #4A148C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 360px;
  height: 380px;
  min-width: 360px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 29.05px;
  color: #FF6F00;
  text-align: center;
  margin-bottom: 10px;
}

.form .input-box {
  width: 100%;
  height: 68.3px;
  margin-top: -36px;
  position: relative;
}

.form .input-box label {
  font-weight: 500;
  color: #4A148C;
  font-size: 15px;
  line-height: 18.15px;
}

.input-box input {
  width: 100%;
  height: 40px;
  border: 1px solid #6A1B9A;
  border-radius: 8px;
  color: #CE93D8;
  text-align: center;
  font-style: italic;
}

.input-box i {
  position: absolute;
  top: calc(50% + 2px);
  right: 10px;
  color: #FF6F00;
  cursor: pointer;
}

.form .btnLogin {
  background-color: #FF6F00;
  color: #4A148C;
  font-weight: 800;
  width: 200px;
  height: 50px;
  font-size: 25px;
  line-height: 30.26px;
  margin-top: -36px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form .btnLogin:hover {
  opacity: 0.8;
  transition: all 0.5s;
}

.form .register {
  margin-top: -36px;
}

.form .register a:hover {
  transition: all 1s;
  color: #4A148C;
}

@media(max-width: 768px) {
  .form {
    width: 240px;
    height: 300px;
  }

  .form h1 {
    font-size: 16px;
  }

  .form .input-box {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
  }

  .form .input-box label {
    font-weight: 500;
    color: #4A148C;
    font-size: 12px;
    line-height: 14.15px;
  }

  .input-box input {
    width: 100%;
    height: 30px;
  }

  .input-box i {
    top: calc(50% + 5px);
  }

  .form .btnLogin {
    width: 120px;
    height: 30px;
    margin-top: -20px;
  }

  .form .register {
    font-size: 14px;
    margin-top: -20px;
  }

}